*{
	margin:0px;
	padding:0px;
}


.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #dbdbdb;
	border-bottom-width: 1px;
}

.fixed-nav-bar a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.fixed-nav-bar li {
	display: inline;
}


.jumbotron .col-md-4
{
  background-image:url('https://scontent-ams2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10614353_10203006904239468_3536855681266827541_n.jpg?oh=bb61463b472284bace9b3dd63a6237e1&oe=56736113');
  height: 500px;
  margin: 0px 0px;
  margin-top:45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.jumbotron .col-md-8
{
	padding-top: 75px;
}





.jumbotron h1 
{
  color: #393c3d;
  font-size: 64px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow:0 0px 0px;
}

.jumbotron h5
{
	font-style: italic;
	text-align: center;
	padding-left:30px;
	line-height: 150%;
}

.jumbotron ul 
{
  font-size: 16px;
  color: #393c3d;
  list-style-type: disc;
  padding-left:65px;

}

.jumbotron h3
{
  color: #393c3d;
  font-family: 'Shift', sans-serif;
  list-style-type:  none;
  font-weight: bold;
  padding-left:45px;
}

.dislikes
{
	padding-left: 0px;
	margin-left: -20px;
}

#likesAndDis
{
	padding-bottom: 20px;
}

.learnMore
{
	text-align: center;
	color: #00b0ff;
}



.learn-more {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;
  padding-bottom:15px;

}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}