*{
	margin:0px;
	padding:0px;
}


.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #dbdbdb;
	border-bottom-width: 1px;
}

.fixed-nav-bar a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.fixed-nav-bar li {
	display: inline;
}



.overlay135
{
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	width:100%;
	padding-left:60px;
	padding-right:470px;
	padding-top:5px;
}

.overlay24
{
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	width:100%;
	padding-left:470px;
	padding-right:60px;
	padding-top:5px;
}




.jumbotron1 {
	background-image:url('https://lh5.googleusercontent.com/-gm-mscfdGCk/Vcy4ocHEJ3I/AAAAAAAABOQ/wTDtfDcSJz4/w852-h479-no/GE_circuit2.jpg');
	height: 500px;
	margin: 0px 0px;
	margin-top:45px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
}

.jumbotron1 h1
{
	color: #fff;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron1 h4
{
	font-size: 22px;
	color: #fff;
	font-family: 'Shift,' sans-serif;
	font-style: italic;
	line-height: 150%;
}

.container1
{
	width:100%;
	text-align:justify;
	padding-top:10%;
}


.jumbotron2 {
	background-image:url('https://scontent-ams2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11102692_10203981347559942_3640065763734146744_n.jpg?oh=745b9a7cb77601f2eeae205da0355686&oe=5676A047');
	height: 450px;
	margin: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
}

.jumbotron2 h1
{
	color: #000;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron2 h4
{
	font-size: 22px;
	color: #000;
	font-family: 'Shift,' sans-serif;
	font-style: italic;
	line-height: 150%;
}

.container2
{
	width:100%;
	text-align:justify;
	padding-top:7%;
}


.jumbotron3 {
	background-image:url('http://students.marshall.usc.edu/undergrad/files/2014/09/berlin.jpg');
	height: 435px;
	margin: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}

.jumbotron3 h1
{
	color: #fff;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron3 h4
{
	font-size: 22px;
	color: #fff;
	font-family: 'Shift,' sans-serif;
	font-style: italic;
	line-height: 150%;
}

.container3
{
	width:100%;
	text-align:justify;
	padding-top:8%;
}


.jumbotron4 {
	background-image:url('http://www.sanitysedge.org/content/2013/12/The-Debate-Desk.jpg');
	height: 435px;
	margin: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}

.jumbotron4 h1
{
	color: #000;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron4 h4
{
	font-size: 22px;
	color: #000;
	font-family: 'Shift,' sans-serif;
	font-style: italic;
	line-height: 150%;
}

.container4
{
	width:100%;
	text-align:justify;
	padding-top:8%;
}


.jumbotron5 {
	background-image:url('http://www.scoileointrali.com/extracurricular.jpg');
	height: 450px;
	margin: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
}

.jumbotron5 h1
{
	color: #fff;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron5 h4
{
	font-size: 22px;
	color: #fff;
	font-family: 'Shift,' sans-serif;
	font-style: italic;
	line-height: 150%;
}

.container5
{
	width:100%;
	text-align:justify;
	padding-top:8%;
}

.learn-more {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;

}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}